/* Poppins Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  --blackColor: #30344E;
  --primaryColor: #52C5B6;
  --btnBgColor: #FD5F36;
  --whiteColor: #FFFFFF;
  --bodyColor: #FAFAFA;
  --poppinsFont: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
  font-family: var(--poppinsFont);
  scroll-behavior: smooth;
}

body{
  background: var(--bodyColor);
}

/* ================= Header / Navbar =============== */
header{
  height: 5rem;
  background: transparent;
}


/* ================= Banner =============== */
#banner{
  height: 90rem;
  /* background: var(--blackColor); */
}


