*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.flex-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.box {
   background-color: #c6c6c6;
   width: 100px;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}