/* ############## reset & common css ############## */
*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}

body{
   background-color: #fff;
}

.container{
   width: 960px;
   margin: 0 auto;
}

.clr{
   clear: both;
}

ul,
ol{
   list-style: none;
}

a{
   text-decoration: none;
}

img{
   width: 100%;
   max-width: 100%;
   vertical-align: middle;
}

.btn{
   border: 1px solid #fff;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   font-family: 'Oswald', sans-serif;
   letter-spacing: 1px;
   background-color: transparent;
   color: #fff;
   cursor: pointer;
}

.section{
   margin-top: 50px;
}

h2.sectionTitle{
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 35px;
  position: relative;
}
h2.sectionTitle::before{
   content: '';
   width: 60px;
   height: 2px;
   background-color: #0872b9;
   position: absolute;
   top: 100%;
}