
/* all color */
:root{
   --bg-color: #081b29;
   --second-bg-color: #112e42;
   --text-color: #ededed;
   --main-color: #00abf0;
}

*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: Arial, Helvetica, sans-serif;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: var(--bg-color);
   color: var(--text-color);
}



/* Start Design */
#header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 9%;
   background: var(--second-bg-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.logo{
   font-size: 2.5rem;
   color: var(--text-color);
   font-weight: 600;
   text-transform: capitalize;
   letter-spacing: 1px;
}

.navbar a{
   font-size: 1.5rem;
   color: var(--text-color);
   margin-right: 3.2rem;
   text-transform: capitalize;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
}
.navbar a:hover,
.navbar a.active{
   color: var(--main-color);
}

